{% extends 'app/base.html' %}

{% block title %}
<title>Home page</title>
{% endblock %}

{% block body_block %}

<div class='container'>
    <div class='jumbotron'>
        <h1>Details of School </h1>

        <table border='1px'>
            <tr>
                <th>School name</th>
                <th>School principal</th>
                <th>School location</th>
            </tr>
            <tr>
                <td>{{school.name}}</td>
                <td>{{school.principal}}</td>
                <td>{{school.location}}</td>
            </tr>
        </table>
    </div>
    <a href="{% url 'update' pk=school.pk %}" class='btn btn-secondary'>Update</a>
    <a href="{% url 'delete' pk=school.pk %}" class='btn btn-secondary'>Delete</a>
</div>

{% endblock %}