{% extends 'app/base.html' %}

{% block title %}
<title>Create page</title>
{% endblock %}

{% block body_block %}

<div class='container'>
    <div class='jumbotron'>
        {% if form.instance.pk %}
            <h1>Update the school</h1>
        {% else %}
        <h1>Create A school</h1>
        {% endif %}
         
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}

            {% if form.instance.pk %}
            <input type="submit" value="Update" class='btn btn-primary'>
            {% else %}
            <input type="submit" value="Create" class='btn btn-primary'>
            {% endif %}
        </form>

    </div>
</div>

{% endblock %}